*{
    margin: 0px;
    padding: 0px;
}
.loginmaintop{
    background-color: rgb(251, 255, 255);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}
body,html{
    background-color: #f7f7f7;
}
.login_top{
    display: flex;
    background-color: #f7f7f7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 700px;
}
.image{
    margin-bottom: 20px;

}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 14px;
    
    
}
.textbox h1{
    font-size: 1.5rem;
}
.textbox h6{
    font-size: 0.9rem;
    text-align: center;
    
}

.textbox div{
    text-align: center;
}
.inputbox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;

}
.inputbox h5{
    margin-left: 10px;
    font-size: 1rem;

}
.inputbox input{

    border: none;
    height: 40px;
    border-radius: 10px;
    padding: 9px;
    color: black;
    border: 1px solid #1c1c1c;
    padding: 20px;
    background-color: #1c1c1c13;
    

}
#phone{
    border: none;
    color: #1c1c1c;
}
.inputbox #phone:focus{
  
    outline: 1px solid  #1c1c1c23;

}

/* .inputbox #phone:hover{ 
    border: 1px solid rgba(19, 19, 19, 0.105);
} */

.inputbox button{
    margin-top: 23px;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #1c1c1c66;
    /* background-color: rgba(255, 166, 0, 0.821); */
    color: #fff;
    font-weight: bold;
}
.buttonform{
    margin-top: 30px;
}
.text{
    margin-top: 5px;
}

.background{
    background-color: rgba(255,166,0,0.821);
}
.border{
    color: red;
    font-size: 15px;
    border: none;
}